<!DOCTYPE html>
<html lang="en">
  <head id="head">
    <!-- Meta information for the document -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book store</title>
    <!-- Link to an external stylesheet -->
    <link rel="stylesheet" href="app.css" />
    <!-- Script tag to include the Vue.js library -->
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- Header section with a button for showing the cart -->
      <header>
        <div class="button-container">
          <!-- Button to view the cart, with dynamic behavior -->
          <button
            id="showCart"
            v-on:click="toggleCart"
            :disabled="Object.values(cart).reduce((acc, curr) => acc + curr, 0) === 0"
          >
            View Cart
            <span
              v-if="Object.values(cart).reduce((acc, curr) => acc + curr, 0) !== 0"
            >
              ({{ Object.values(cart).reduce((acc, curr) => acc + curr, 0) }})
            </span>
          </button>
        </div>
      </header>

      <!-- Search section -->
      <div id="search" v-show="!showCart">
        <input type="text" id="searchInput" name="search" />
        <button type="submit" onclick="search()">Search</button><br /><br />
        <div id="searchResults"></div>
        <br />
      </div>

      <!-- Product listing section -->
      <div id="products" v-show="!showCart">
        <!-- Loop through products and display their details -->
        <div
          class="product"
          v-for="product in sortedProductsBySpace"
          :key="product.id"
        >
          <!-- Product details -->
          <div class="product-details"></div>
          Subject: {{ product.name }} Location: {{ product.location }}<br />
          Price: £{{ product.price }} Available: {{ product.available }}

          <!-- Button to add product to the cart -->
          <button
            v-on:click="addToCart(product)"
            :disabled="product.available === 0"
          >
            Add to Cart</button
          ><br />
          <img :src="product.imageUrl" alt="Product Image" width="40px" />
        </div>
      </div>
      <br />

      <!-- Sorting options for products -->
      <h2 v-show="!showCart">Sort:</h2>
      <!-- Subject sorting options -->
      <div class="subject-container" v-show="!showCart">
        <h3>Subject→</h3>
        <div class="sorting-buttons1"></div>
        <div id="sort1"><button v-on:click="order1">Ascending</button></div>
        <div id="sort2"><button v-on:click="order2">Descending</button></div>
      </div>

      <!-- Price sorting options -->
      <div class="price-container" v-show="!showCart">
        <h3>Price→</h3>
        <div class="sorting-buttons3"></div>
        <div id="sort5"><button v-on:click="order5">Ascending</button></div>
        <div id="sort6"><button v-on:click="order6">Descending</button></div>
      </div>

      <!-- Location sorting options -->
      <div class="location-container" v-show="!showCart">
        <h3>Location→</h3>
        <div class="sorting-buttons2"></div>
        <div id="sort3"><button v-on:click="order3">Ascending</button></div>
        <div id="sort4"><button v-on:click="order4">Descending</button></div>
      </div>

      <!-- Space sorting options -->
      <div class="space-container" v-show="!showCart">
        <h3>Space→</h3>
        <div class="sorting-buttons4">
          <button v-on:click="sortProductsBySpaceAscending">Ascending</button>
        </div>
        <div id="sort7">
          <button v-on:click="toggleOrderBySpace">Descending</button>
        </div>
      </div>
      <br /><br /><br />

      <!-- Cart section -->
      <div id="cart" v-if="showCart">
        <!-- List items in the cart -->
        <ul
          id="cart1"
          v-for="(quantity, productId) in cart"
          :key="productId"
          class="cart-item"
        >
          Subject:{{ products.find(product => product.id ===
          parseInt(productId)).name }}<br />
          Location: {{ products.find(product => product.id ===
          parseInt(productId)).location }}
          <!-- Display location -->
          <br />Price:£{{ products.find(product => product.id ===
          parseInt(productId)).price }}<br />
          Quantity: {{ quantity }}
          <br />
          <img
            :src="products.find(product => product.id === parseInt(productId)).imageUrl"
            alt="Product Image"
            width="40px"
          /><br />
          <button id="remove" v-on:click="removeFromCart(productId)">
            Remove
          </button>
        </ul>
        <br /><br />

        <!-- Form for placing an order -->
        <form v-if="Object.keys(cart).length > 0">
          <label for="name"><b>Name:</b></label>
          <input
            type="text"
            id="name"
            v-model="checkoutData.name"
            @input="validateName"
            required
            oninput="this.value = this.value.replace(/[^a-z.]/g, '').replace(/(\..*)\./g, '$1');"
          /><br /><br />
          <label for="phone"><b>Phone number:</b></label>
          <input
            type="number"
            id="phoneNum"
            v-model="checkoutData.phone"
            @input="validatePhone"
            required
            oninput="this.value = this.value replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
          /><br /><br />
          <button
            id="place-order-button"
            v-on:click="placeOrder"
            :disabled="!isFormValid"
          >
            Place Order</button
          ><br /><br />
        </form>
      </div>
    </div>

    <!-- Include an external JavaScript file -->
    <script src="app.js"></script>
  </body>
</html>
